body {
    margin: 0 auto;
}

ul {
    margin: 0;
}

.container {
    min-width: 350px;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
    opacity: 0.7
}

a:link {
    color: #000;
}

.heading,
figure,
h1,
h2 {
    text-align: center;
}

.hero-image {
    margin-bottom: 20px;
    border-radius: 3px;
    border: 2px solid #000;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

pre {
    font-size: 8px;
}


footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 5px;*/

    list-style-type: none;

}

footer {
    min-width: 350px;
    min-height: 40px;
    margin: 20px auto 0;
    background: #d6d6d6;
    padding: 10px;

}
